<h1>Travel the  world</h1>
<h2>The journey starts with one click.</h2>


     
    
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="row">
              
              <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-raised card-form-horizontal no-transition">
                  <div class="card-body">
                    <form method="" action="">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="text" value="" placeholder="City" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="text" value="" placeholder="Country" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="text" value="" placeholder="Date" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <button type="button" class="btn btn-danger btn-block"><i class="nc-icon nc-zoom-split"></i> &nbsp; Search</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
